---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Raimund - Web Developer and UX/UI Designer">
	<div slot="header">
		<h1 class="text-2xl font-medium sm:text-3xl md:text-4xl">Academic Groundwork</h1>
		<p class="mt-2 sm:mt-4 md:mt-8 md:text-xl">
			Peek into the educational chapters that have laid the groundwork for my journey.
		</p>
	</div>
</Layout>
