---
import Link from "@/components/Link.astro";
import Layout from "../layouts/Layout.astro";

import IconSend from "~icons/tabler/send";
import IconDownload from "~icons/tabler/download";
---

<Layout title="Raimund - Web Developer and UX/UI Designer">
	<div slot="header">
		<h1 class="text-3xl sm:text-4xl md:text-5xl font-bold !leading-snug">
			Hey, I'm <span class="whitespace-nowrap"><span class="text-cyan-500">Raimund</span> :)</span>
			<br />
			<span class="whitespace-nowrap text-cyan-500">Web Developer</span> and <span
				class="whitespace-nowrap text-cyan-500">UX/UI Designer</span
			>
			<br />
			<span class="mt-1 sm:mt-2 block text-lg md:text-xl font-normal">with a background in Scientific Research.</span>
		</h1>
		<div class="mt-4 md:mt-8 flex flex-wrap gap-4 md:gap-5">
			<Link href="" class=""><IconDownload /> Full Resume</Link>
			<Link href="#contact" class=""><IconSend /> Contact me</Link>
		</div>
	</div>
</Layout>
