---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Raimund - Web Developer and UX/UI Designer">
	<div slot="header">
		<h1 class="text-2xl font-medium sm:text-3xl md:text-4xl">Projects that Speak</h1>
		<p class="mt-2 sm:mt-4 md:mt-8 md:text-xl">
			In this corner of the web, you'll find a collection of projects that reflect my passion for
			web development and UX/UI design. While I'm still honing my craft, each project is a stepping
			stone in my learning process.
		</p>
	</div>
</Layout>
