---
interface Props {
	class?: string;
	onclick?: string;
}

const { onclick, class: className } = Astro.props;
---

<button
	onclick={onclick}
	class:list={[
		"drop-shadow flex items-center gap-2 rounded-xl border-2 text-lg border-black bg-white px-6 py-3.5",
		className,
	]}
>
	<slot />
</button>
