---
interface Props {
	href: string;
	external?: boolean;
	class?: string;
}

const { href, external = false, class: className } = Astro.props;
---

<a
	href={href}
	target={external ? "_blank" : undefined}
	class:list={[
		"drop-shadow flex items-center gap-2 rounded-xl border-2 text-lg border-black bg-white px-6 py-3.5",
		className,
	]}
>
	<slot />
</a>
