---
interface Props {
	route: string;
}

const { route } = Astro.props;
const active = route === "/" ? Astro.url.pathname === "/" : Astro.url.pathname.startsWith(route);
---

<li>
	<a
		href={route}
		class:list={[
			"flex cursor-pointer items-center gap-2 rounded-t-2xl border-2 border-black bg-white px-5 pb-8 pt-1.5 font-medium uppercase transition-transform hover:-translate-y-3",
			{
				"-translate-y-3 !bg-black text-white": active,
			},
		]}
	>
		<slot name="icon" />
		<span class="hidden md:inline"><slot /></span>
	</a>
</li>
