@import './assets/fonts/fonts.css';

* {
	margin: 0;
	padding: 0;
}

:root {
	--accent: #25bed8;
	--gray-50: #f9fafb;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-500: #6b7280;
	--gray-600: #4b5563;
	--gray-700: #2f3847;
	--gray-800: #1f2937;
	--gray-900: #111827;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Space Grotesk", sans-serif;
	background: url('data-url:./assets/noise.svg'),
		linear-gradient(120deg, #21424d, #060b1c);
	display: grid;
	place-content: center;
	gap: clamp(2.5rem, 8vw, 3.5rem);
}

h1,
h2,
p,
span,
a {
	line-height: 1;
}

header {
	display: flex;
	flex-direction: column;
	gap: clamp(0.5rem, 2vw, 1rem);
}

header > h1 {
	color: var(--gray-50);
	font-size: clamp(4rem, 20vw, 8rem);
	font-weight: 600;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 4px 4px 0px var(--accent);
}

header > h2 {
	color: var(--gray-300);
	font-size: clamp(1rem, 5.5vw, 2.25rem);
	font-weight: 350;
	align-self: center;
}

header > h2 > strong {
	font-weight: 600;
	color: var(--gray-50);
}

header > p {
	font-size: clamp(1rem, 3.75vw, 1.5rem);
	font-weight: 500;
	color: var(--gray-400);
}

.socials {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: clamp(1rem, 4vw, 1.5rem);
}

.socials > a {
	color: var(--gray-900);
	font-size: clamp(1rem, 4.5vw, 1.5rem);
	font-weight: 450;
	background: var(--gray-200);
	border-radius: 0.25rem;
	padding: 0.85rem 1.5rem;
	text-decoration: none;
}

.socials > a:hover {
	background: var(--gray-50);
}

.socials > a:active {
	background: var(--gray-400);
}

.icon {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.icon::before {
	display: block;
	height: clamp(1rem, 4.5vw, 1.5rem);
	width: clamp(1rem, 4.5vw, 1.5rem);
}

.icon::after {
	content: "";
}

.icon--github::before {
	content: url('data-url:./assets/icons/fa-brands_github.svg');
}

.icon--linkedin::before {
	content: url('data-url:./assets/icons/fa-brands_linkedin.svg');
}

.deco {
	position: relative;
}

.deco::after {
	pointer-events: none;
}

.deco--underline::after {
	content: "";
	background: url('data-url:./assets/details/underline.svg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 12px;
	position: absolute;
	left: -0.25rem;
	right: -0.25rem;
	bottom: -0.8rem;
}

.deco--circle::after {
	content: "";
	background: url('data-url:./assets/details/circle.svg');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: calc(clamp(0.2rem, 1vw, 0.45rem) * -1);
	right: calc(clamp(0.3rem, 1vw, 0.6rem) * -1);
	top: calc(clamp(0.15rem, 0.5vw, 0.4rem) * -1);
	bottom: calc(clamp(0.6rem, 1vw, 0.4rem) * -1);
}

@media screen and (min-width: 675px) {
	header > h1 {
		text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 6px 6px 0px var(--accent);
	}

	.socials {
		flex-direction: row;
		gap: 1.5rem;
	}

	.icon::after {
		content: none;
	}

	.deco--underline::after {
		bottom: -0.6rem;
	}
}

